.max-width {
    max-width: 1200px;
}

#root {
    font-family: 'Inter', sans-serif;
}

.nav-color {
    background-color: #e3f2fd;
}

.bg-color {
    background-color: #e7edf1;
}

.input-w {
    width: 300px;
}

.google-image {
    width: 80px;
}

.profile-image {
    width: 60px;
    border-radius: 50%;
}

.signup-header {
    background-color: #e7edf1;
    width: 520px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input-field-pass {
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.sign {
    width: 50px;
    height: 47px;
    background-color: white;
}

.sign:hover {
    background-color: white;
}

.signUpGoogle {
    width: 230px;
    border-radius: 4px;
}

.signUpGithub {
    width: 230px;
    border-radius: 4px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.text-overlay h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 16px;
    color: #fff;
}

.card-image {
    height: 200px;
}

@media only screen and (max-width: 584px) {

    .signup-header {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {

    .input-field {
        width: 90%;
    }

    .input-field-pass {
        width: 90%;
    }
}